{% include "master.html"%}

<div class="container">
{% if new %}
		<H2> Add Book </H2>
{% else %}
		<H2> Edit Book </H2>
{% endif%}

	{% if new %}
		<form action="/books/addbook/" method="post" enctype="multipart/form-data"> {% csrf_token %}
	{% else%}
		<form action ="/books/editbook/{{id}}/" method="post" enctype="multipart/form-data"> {% csrf_token %}
	{% endif %}
<!-- {{ form.as_p}}-->
	{% for field in form %}
		<div class="form-group row">
			<label for="{{field.id_for_label}}" class="col-md-2 form-control-label">{{field.label}}</label> 
			<div class="col-md-6">
			 {{field}}
			</div>
		</div>
	{% endfor %}

		<button class="btn btn-success" type="submit">Submit</button>
		</form>
</div>