{%include "master.html"%}
<div class="background">
<div class="index">
	<h1 class="index-heading">Book Bay</h1>
	<div class="lead">
		<p> Welcome to Book Bay. Are you looking for books to buy? Are you selling books? Well, in Book Bay, you can do just that!
		Join Book Bay <a href = "adduser/">here</a>.
		The sooner you join, the sooner we can make you smile!.. So do it now.</p>

		<p>Already a member? click the button on the top right corner of the web page to sign in... or <a href = "login/">Click Here!</a>.
		</p>
	</div>
</div>
</div>