{% include "master.html" %}

<div class="container">
	<h2>Password Change</h2>
{% if attempt %}
<b>Please Try again. You've entered incorrect information. </b>
{% endif %}


<form name="myForm" action="/books/password/" method="post" onsubmit="return validateForm()"  >{% csrf_token %}
	{% for field in form %}
		<div class="form-group row">
			<label for="{{field.id_for_label}}" class="col-sm-2 form-control-label">{{field.label}}</label> 
			<div class="col-md-4">
			 {{field}}
			</div>
		</div>
	{% endfor %}
<!--{{ form.as_p }}-->

<button class="btn btn-success" type="submit">Submit</button>
</form>

</div>